<% provide(:title, "Sign In") %>

<section>

	
	
	
	<br>
	
	<div class = "box">
<p class="subtitle">Sign In</p>
	<br>
	<form name="hongkiat" id="hongkiat-form" method="post" action="home.html">
<div id="wrapping" class="clearfix">
    <section id="aligned">
        <input type="text" name="username" id="username" placeholder="Username" autocomplete="off" tabindex="3" class="txtinput">
        <input type="password" name="password" id="password" placeholder="Password" tabindex="4" class="txtinput">
        </section>
	
	
<p class="break2"></p>
<section id="buttons">
    <input type="reset" name="reset" id="resetbtn" class="resetbtn" value="Reset">
    <input type="submit" name="submit" id="submitbtn" class="submitbtn" tabindex="7" value="Log in">
    <br style="clear:both;">
</form>
</section>
