<% provide(:title, "Sign In") %>

<br>
<div class = "box">
  <p class="subtitle">Sign In</p>
  <br>
  <form name="hongkiat" id="hongkiat-form" method="post">
    <div id="wrapping" class="clearfix">
      <section id="aligned">
        <input type="text" name="username" id="username" placeholder="Username" autocomplete="off" tabindex="3" class="txtinput">
        <input type="password" name="password" id="password" placeholder="Password" tabindex="4" class="txtinput">

        <p class="break2"></p>
        <section id="buttons">
          <input type="reset" name="reset" id="resetbtn" class="resetbtn" value="Reset">
          <input type="submit" name="submit" id="submitbtn" class="submitbtn" tabindex="7" value="Log in">
          <br style="clear:both;">
        </section>
      </section>
    </div>
  </form>
</div> <!-- End of box -->
