@import url(http://fonts.googleapis.com/css?family=Amaranth);

div.logo {
display:block;
font-size:50px;
height:4em;
margin-left:auto;
margin-right:auto;
position:relative;
text-align:center;
top:250px;
}

input.buttons {
display:block;
height:10em;
margin-left:auto;
margin-right:auto;
position:relative;
top:250px;
}

#grad1 {
background:linear-gradient(#b3b3ff,#0073AD);
height:100%;
}

html,body {
background-color:#0073AD;
height:100%;
margin:0;
padding:0;
}

#container {
min-height:100%;
position:relative;
}

#header {
height:250px;
position:absolute;
top:0;
width:100%;
}

#body {
padding-bottom:250px;
}

#footer {
background-color:#0073AD;
color:#ADE4FF;
height:250px;
left:0;
padding-bottom:0;
position:absolute;
text-decoration:none;
width:100%;
}

div.cust {
float:left;
margin-left:3cm;
}

div.info {
float:left;
margin-left:5.5cm;
}

div.contact {
float:right;
margin-left:2cm;
margin-right:5cm;
}

div.link {
text-decoration:none;
}

p.title {
color:#0073AD;
font-family:Amaranth, sans-serif;
font-size:50px;
font-style:italic;
margin-left:130px;
}

a {
color:#ADE4FF;
text-decoration:none;
}

img.basket {
height:50px;
margin-left:25px;
padding-top:10px;
width:50px;
}

img.sign {
height:50px;
margin-left:15px;
padding-top:12px;
width:65px;
}

p.fill {
line-height:1000px;
}

p.subtitle {
color:#ADE4FF;
font-size:40px;
text-align:center;
}

p.footer {
color:#ADE4FF;
font-size:16px;
}

.home_button
{
background-color:#FFAAFF;
border:1px solid;
border-color:#ffe5ff;
border-radius:20px;
color:#fff;
display:block;
font-family:Papyrus,fantasy;
font-size:1.3em;
font-weight:700;
height:3em;
margin-left:auto;
margin-right:auto;
outline:0;
padding:0 1em;
text-shadow:0 1px 0 #222;
vertical-align:middle;
white-space:nowrap;
width:450px;
word-wrap:normal;
margin: 30px;
}

.home_button:hover, .home_button:active {
border-color:#ffb3ff;
color:#FFF;
}

