<div id="simple_page">
<% @allow_non_user = true %>

<h1>About Us</h1>
<br>
<h2>Our Goal</h2>
<article>
We have formed this website to help children who are afflicted with Dyspraxia, which is a serious condition that affects thousands of
people worldwide. This website provides exercises that children can complete in order to imrove their motor responses, which are
presented in a fun environment that keeps track of the progress of each individual child.
</article>
<h2>Is this real?</h2>
<article>
Not particularly, no. The website was done for a third year computer science group project, and as such does not provide an experience
that is as complete as offered by some other services. However, give it a go, and if you like it then that's great! :)
</article>
</div>
