<div id="simple_page">
<% @allow_non_user = true %>

<article>
	<h1>Information about Dyspraxia</h1>
	
	<br><h3>What is Dyspraxia? </h3><br>

Developmental co-ordination disorder (DCD), also known as dyspraxia, is a condition affecting physical co-ordination that causes a child to perform less well than expected for his or her age in daily activities and appear to move clumsily.
Early developmental milestones of crawling, walking, self-feeding and dressing may be delayed in young children with DCD, and drawing, writing and performance in sports are usually behind what is expected for their age.
The problem is not due to general delays in development or a learning disability, and is not caused by cerebral palsy or another neurological disorder (conditions affecting the nervous system).
Although signs of the condition are present from an early age, children vary widely in their rate of development and DCD is not usually definitely diagnosed until a child with the condition is around five years old or more.
Read more about the symptoms of DCD in children.
This information is about DCD in children, although the condition often causes continued problems into adulthood. There is a separate topic on DCD in adults.

	<br><h3>What causes DCD?</h3><br>
	
Carrying out co-ordinated movements is a complex process that involves many different nerves and parts of the brain. It is not usually clear why co-ordination doesn't develop as well as other abilities in children with DCD.
However, a number of risk factors that can increase a child's likelihood of developing DCD have been identified, including being born prematurely (before the 37th week of pregnancy) and being born with a low birth weight.
Read more about the causes of DCD in children.
	
	<br><h3>Who is affected</h3><br>
	
It is hard to estimate exactly how many children are affected by DCD, although a study carried out in the UK in 2009 suggested that up to one in every 20 children between seven and eight years of age may be affected by the condition to some degree.
DCD is thought to be around three or four times more common in boys than girls and the condition sometimes runs in families.
<br>
	<h3>How DCD is treated</h3>
	<br>
	
There is no cure for DCD, but a number of therapies can make it easier for children to manage their problems.
These include:
being taught ways of carrying out troublesome activities, such as breaking down difficult movements into much smaller parts and practising them regularly
adapting tasks to make them easier, such as using special grips on pens and pencils so they are easier to hold.
<br>
Although DCD does not affect how intelligent a child is, it can make it more difficult for them to learn and they may need extra help to keep up at school.
Treatment for DCD will be tailored to your child and usually involves a number of different healthcare professionals working together.
Most children with DCD will continue to have difficulties as teenagers and adults but those with mild problems might find things improve as they grow up.
	
	</article>
</div>
