<%
e = Exercise.find(params[:exercise_id].to_i)
if !e.nil?
%>

<section class = "centred">
Congratulations, you have completed the exercise!
<br>
You have earned <%= e.points %> points.
</section>

<% else %>
This exercise does not exist!
<% end %>
