<% provide(:title, "Exercise") %>
<h1>Exercise name</h1>
<section>
    <p>This is a fun description! <img src="__source__image__"></p>
    <button>Start</button>
    <button>Stop</button>
    <button>Pause</button>
</section>
