<div id="simple_page">
<% @allow_non_user = true %>

<h1>Frequently Asked Questions</h1
<br>
<div><h3>Are dyspraxia and developmental coordination disorder (DCD) the same thing?</h3>

Developmental Coordination Disorder (DCD), also known as dyspraxia, is a common<br> 
disorder affecting fine and/or gross motor coordination in children and adults(Movementmatters.uk).<br> 
The Dyspraxia Foundation adds to the Movement Matters description, recognising the many non-motor<br> 
difficulties that may also be experienced by people with the condition and which can have a significant<br> 
impact on daily life activities. These include memory, perception and processing as well as additional<br> 
problems with planning, organising and carrying out movements in the right<br>
order in everyday situations. Dyspraxia can also affect articulation and speech.(Dyspraxia Foundation, 2015)</div>


<div><h3>Does dyspraxia run in families?</h3>

No “dyspraxic gene” has been identified. However many parents of children who have dyspraxia can identify another member<br> 
of the family with similar difficulties: as dyspraxia is more often found in boys than girls this may be a father,<br> 
grandfather, uncle or cousin. Sometimes, during the course of an assessment fathers realise that they experienced<br>
similar difficulties as a child. They then have to rethink their own life experiences while also supporting their <br>
child and partner. Ragu Lingham (2009) concluded in his research that there is a hereditary risk factor with coordination<br> 
difficulties and Michele Lee and Sue Yoxall found in their study (2007) that 32% reported a familyhistory of dyspraxia<br>
or co-ordination difficulties. </div>


<div><h3>What are the causes of Dyspraxia?</h3>

Although the exact causes of dyspraxia are unknown, it is thought to be caused by a disruption<br>
in the way messages from the brain are transmitted to the body.<br>
This affects a person’s ability to perform movements in a smooth, coordinated way.</div>


<div><h3>Getting a diagnosis of dyspraxia’ for under 18s</h3>

Dyspraxia/Developmental Coordination Disorder (D.C.D). can be identified by parents, teachers, friends or<br>
even the child/teenager. In the first instance you will need to visit the G.P. who will then be able to <br>
refer your child to the relevant professionals.<br>
Each professional cannot confirm the diagnosis by themselves but will be able to contribute to the diagnosis process.<br>

For a diagnosis there are two specific areas from the DSM-5 definition of D.C.D. that must be considered.<br>

The acquisition and execution of coordinated motor skills is substantially below that expected given to the <br>
individual’s chronological age and opportunity for skill learning and use and that this significantly and<br>
persistently interferes with activities of daily living. This part of the diagnosis is carried out by either<br>
an occupational therapist or physiotherapist. Where there are speech and language difficulties,your child <br>
will be referred to a speech and language therapist (SALT).The motor skill difficulties are not better <br>
explained by visual impairment, neurological disorder or another medical condition. This part of the diagnosis<br>
is carried out by a paediatrician or paediatric neurologist. Your child may be referred to the child development<br>
team where there is a multidisciplinary team of professionals (such as a paediatrician,<br>
physiotherapist, occupational therapist and speech and language therapist) who will assess your child.<br>

The occupational therapist or physiotherapist will be able to assess your child’s movement, motor skills and<br>
coordination skills. A speech and language therapist will assess your child’s speech and language development.<br>
A paediatrican or paediatric neurologistwill ensure that the difficulties your child is experiencing is not <br>
due to another medical condition as there are other conditions that can cause symptoms similar to dyspraxia/DCD<br>
but which need to be treated differently.<br>

In addition, your child may be referred to see an educational psychologist to help your child with their school work.</div>
</div>
