<!--FIRST HOME PAGE-->
<% @allow_non_user = true %>
<% provide(:title, "Home") %>

<% if !logged_in? %>
<section id="home_buttons">
    <a href="signup.html"><input type="submit" name="submit" id="submitbtn" class="home_button button" value="Sign Up!"></a><br>
    <a href="signin.html"><input type="reset" name="reset" id="resetbtn" class="home_button button" value="Login"></a>    
</section>
<!-- End of first homepage -->

<!--SECOND HOME PAGE-->
<% else %>

<section class = "banner">
<h1 class="title">Welcome back, <%= @current_user.user_name %>!</h1>
<p>Below are the exercises you have yet to complete. Don't forget to come back to them!</p>
<br>

</section>
<br>
<h2>Incompleted Exercises</h2>


<div class="photobanner">
<%
counter=0
Exercise.all.each do |e|
  if counter==5
    break
  end
  counter=counter+1
  if !exercise_completed? e %>
     <%= image_tag ("GIFS/Exercise Images/"+e.image_url), class: "first", width: "325px", height: "400px", id: "MyImage", alt: ""%>
    <%end%>
<%end%></div>
<br>
<h2>Recommended Exercises</h2>
<br>
<div class="photobanner">
<%Exercise.all.to_a.sample(5).each do |e|%>
<a href="/exercise.html?id=<%=e.id%>"> <%= image_tag ("GIFS/Exercise Images/"+e.image_url), class: "first", width: "325px", height: "400px", id: "MyImage", alt: ""%></a>
<%end%>
</div>

</section>
</div>
</body>
<% end %>
<!-- End of second homepage -->
