<!--FIRST HOME PAGE-->
<% @allow_non_user = true %>
<% provide(:title, "Home") %>

<% if !logged_in? %>
<section id="home_buttons">
    <a href="signup.html"><input type="submit" name="submit" id="submitbtn" class="home_button button" value="Sign Up!"></a><br>
    <a href="signin.html"><input type="reset" name="reset" id="resetbtn" class="home_button button" value="Login"></a>    
</section>
<!-- End of first homepage -->

<!--SECOND HOME PAGE-->
<% else %>
<section>
<p class="title">Welcome back, <%= @current_user.user_name %>!</p>
<br>
<p>Incompleted Exercises</p>
<br>
<div class="box">
<br><br><br><br>
(Incompleted Exercises)
<br><br><br><br>
<br><br><br><br>


</div>
<br>
<p>Recommended Exercises</p>
<br>
<div class="box">
<br><br><br><br>
(Recommended Exercises)
<br><br><br><br>
<br><br><br><br>


</div>

</section>
</div>
</body>
<% end %>
<!-- End of second homepage -->
