<!--FIRST HOME PAGE-->
<%# provide(:custom_css, 'firstpagecss') %>


<section id="home_buttons">
    <a href="signup.html"><input type="submit" name="submit" id="submitbtn" class="home_button button" value="Sign Up!"></a><br>
    <a href="signin.html"><input type="reset" name="reset" id="resetbtn" class="home_button button" value="Login"></a>    
</section>


<!--SECOND HOME PAGE-->

<!--

/*<% provide(:title, "Home") %>

<section>
<p class="title">Welcome back, Dylan!</p>
<br>
<p>Incompleted Exercises</p>
<br>
<div class="box">
<br><br><br><br>
(Incompleted Exercises)
<br><br><br><br>
<br><br><br><br>


</div>
<br>
<p>Recommended Exercises</p>
<br>
<div class="box">
<br><br><br><br>
(Recommended Exercises)
<br><br><br><br>
<br><br><br><br>


</div>

<p class="break2"></p>
</section>
</div>
</body>
<div id="footer">
<p class="footer">
<div class="cust">
            <h2>Customer Reviews</h2>
            <p><i>"Motivates me to do my exercises every day."</i></p>
            <p>Robby, Meath</p>
            <p><i>"I'm finding everyday tasks easier."</i></p>
            <p>Ciara, Donegal</p>
        </div>
  
        <div class="info">
            <h2>Information</h2>
            <p><a href="FAQS.html" class="link">FAQs</a></p>
            <p><a href="delivery.html" class="link">Dyspraxia</a></p>
            <p><a href="termsAndCond.html" class="link">Terms and Conditions</a></p>
            <p><a href="aboutUs.html" class="link">About Us</a></p>
        </div>
  
        <div class="contact">
            <h2>Contact us</h2>
            <p>Email us - dysassist@hotmail.com</p>
            <p>Phone us - 090 00 0000</p>
            <p><a href="https://www.facebook.com/profile.php?id=100009344657041" class="link">Message us on Facebook</a></p>
        </div>
​
</p>
</div>

-->
