
<section>
​<p class="title">Welcome to DysAssist!</p>
<br>


<div class="boxleft">
<p class="subtitle">Join Us!</p>
<br>
<form action="home.html">
<br>
<input type="text" placeholder="First name" name="firstname" style="width:100%">
<br>
<br>
<input type="text" placeholder="Last name" name="lastname" style="width:100%">
<br>
<br>
<input type="text" placeholder="Date of Birth" name="birthday" style="width:100%">
<br>
<input type="radio" name="sex" value="male" checked> Male
<br>
<input type="radio" name="sex" value="female"> Female
<br>
<br>
<input type="text" placeholder="Username" name="username" style="width:100%">
<br>
<br>
<input type="password" placeholder="Password" name="password" style="width:100%">
<br>
Password must be between 8-12 letters
<br>
<input type="password" placeholder="Confirm password" name="password" style="width:100%">
<br>
<br>
<input type="text" placeholder="Email address" name="email" style="width:100%">
<br>
<br>
<input type="text" placeholder="Confirm email address" name="email" style="width:100%">
<br>
<input type="submit" value="Sign Me Up">
</form>

</div>
<br>


<div class="boxright">
<p class="subtitle">Sign In</p>
<br>
<form action="home.html">
<br>
<input type="text" name="username" placeholder="Username" style="width:100%">
<br>
<br>
<input type="password" name="password" placeholder="Password" style="width:100%">
<br>
<input type="submit" value="Go">


</div>
</form>
<br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br>
<p class="break2"></p>
</section>
</div>
</body>
<div id="footer">
<p class="footer">
<div class="cust">
            <h2>Customer Reviews</h2>
            <p class="footer"><i>"Motivates me to do my exercises every day."</i></p>
            <p class="footer">Robby, Meath</p>
            <p class="footer"><i>"I'm finding everyday tasks easier."</i></p>
            <p class="footer">Ciara, Donegal</p>
        </div>
  
        <div class="info">
            <h2>Information</h2>
            <p><a href="FAQS.html" class="link">FAQs</a></p>
            <p><a href="delivery.html" class="link">Dyspraxia</a></p>
            <p><a href="termsAndCond.html" class="link">Terms and Conditions</a></p>
            <p><a href="aboutUs.html" class="link">About Us</a></p>
        </div>
  
        <div class="contact">
            <h2>Contact us</h2>
            <p class="footer">Email us - dysassist@hotmail.com</p>
            <p class="footer">Phone us - 090 00 0000</p>
            <p><a href="https://www.facebook.com/profile.php?id=100009344657041" class="link">Message us on Facebook</a></p>
        </div>
​
</p>
</div>
